export("MK_BuildVirusRef", "MK_VirMap",
       "MK_WG_Tom", "MK_WG_CliIn",
       "MK_Tcga_CanerFilt", "MK_DEGs",
       "MK_Enrich", "MK_read10X", "MK_reads",
       "MK_scRNA", "MK_toMMs", "MK_Tree",
       "MK_cbind_s", "MK_cbind_i", "MK_asNum",
       "MK_Exct", "MK_Download", "MK_rem0",
       "MK_time", "MK_singler", "MK_Cor")
